<%= form_for [current_detective, @instance] do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibido este caso por las siguientes razones:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :victim %><br>
      <%= f.text_field :victim, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_field :date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :place %><br>
      <%= f.text_field :place, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Agregar', :class => 'btn btn-default' %>
    <%= link_to 'Back', detective_instances_path(current_detective), class: "btn btn-default" %>
  </div>
<% end %>