<%= form_for [current_detective, @instance] do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibido este caso por las siguientes razones:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :victim %><br>
    <%= f.text_field :victim %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.collection_select(:places, Place.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br>
    <%= f.collection_select(:weapons, Weapon.all, :id, :name) %>
  </div>
   <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>