<h1>Casos</h1>

<table>
  <thead>
    <tr>
      <th>Detective</th>
      <th>Nombre</th>
      <th>Victima</th>
      <th>Lugar</th>
      <th>Fecha Ocurrencia</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |i| %>
      <tr>
        <td><%= i.detective.email %></td>
        <td><%= i.name %></td>
        <td><%= i.victim %></td>
        <td><%= i.place %></td>
        <td><%= i.description %></td>
        <td><%= i.date %></td>
        <td><%= link_to 'Show', detective_instance_path(current_detective.id, i.id) %></td>
        <td><%= link_to 'Edit', edit_detective_instance_path(current_detective.id, i.id) %></td>
        <td><%= link_to 'Destroy', detective_instance_path(current_detective.id, i.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Caso', new_detective_instance_path(current_detective.id) %></br>
<%= link_to 'Volver', root_path %>