<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @person.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @person.edad %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @person.ocupacion %>
</p>

<%= link_to 'Edit', edit_place_path(@person) %> |
<%= link_to 'Back', places_path %>
